<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="userNumber">Enter a number</label>
  <input id="userNumber" type="text" name="users_number">

  <button>Calculate square</button>
</form>
