<h1>Generate a random number</h1>

<form action="/random/results">
  <label for="userNumberMinimum">Minimum</label>
  <input id="userNumberMinimum" type="text" name="users_numberMinimum">

  <label for="userNumberMaximum">Maximum</label>
  <input id="userNumberMaximum" type="text" name="users_numberMaximum">

  <label for="pickRandNumBut"></label>
  <button id="pickRandNumBut">Pick random number</button>

</form>
