<h1>Calculate monthly payment</h1>

<form action="/payment/results">
  <label for="userNumberAPR">APR</label>
  <input id="userNumberAPR" type="text" name="users_numberAPR">

  <label for="userNumberNoY">number of years</label>
  <input id="userNumberNoY" type="text" name="users_numberNoY">

  <label for="userNumberPrincipal">principal</label>
  <input id="userNumberPrincipal" type="text" name="users_numberPrincipal">

  <button>Calculate monthly payment</button>

</form>
