<h1>
  Random number results
</h1>

<dl>
  <dt>
    Minumum
  </dt>
  <dd>
    <%= @minimum %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @maximum %>
  </dd>

  <dt>
    Random number
  </dt>
  <dd>
    <%= @randNum %>
  </dd>
  
</dl>

<a href="/random/new">
  Generate another random number
</a>
